<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.jxnflzc.persistence.AccountDAO">
<select id="findAccountExistByUserNameAndPassword" parameterType="per.jxnflzc.domain.Account" resultType="per.jxnflzc.domain.Account">
      select * from signon where username = #{username} and password = #{password}
    </select>
    <select id="findByUserNameAndPassword" parameterType="per.jxnflzc.domain.Account" resultType="per.jxnflzc.domain.Account">
      select * from account, signon where account.userid = #{username} and signon.username = #{username}
    </select>
    <insert id="registerAccountByAccount" parameterType="per.jxnflzc.domain.Account">
      insert into account values (#{username}, #{email}, #{firstName}, #{lastName}, #{status},
      #{address1}, #{address2}, #{city}, #{state}, #{zip}, #{country}, #{phone})
    </insert>
    <insert id="registerSignonByAccount" parameterType="per.jxnflzc.domain.Account">
      insert into signon (username, password) values (#{username}, #{password})
    </insert>
    <insert id="registerProfileByAccount" parameterType="per.jxnflzc.domain.Account">
      insert into profile values (#{username}, #{languagePreference}, #{favouriteCategoryId},
       #{listOption}, #{bannerOption})
    </insert>
    <select id="findEditAccount" parameterType="per.jxnflzc.domain.Account" resultType="per.jxnflzc.domain.Account">
      SELECT * FROM profile, account, signon WHERE profile.userid = #{username} AND
      account.userid = #{username} AND signon.username = #{username}
</select>
    <update id="updateAccountByAccount" parameterType="per.jxnflzc.domain.Account">
      UPDATE account SET email = #{email}, firstname = #{firstname}, lastname = #{lastname}, addr1 = #{addr1},
      addr2 = #{addr2}, city = #{city}, state = #{state}, zip = #{zip}, country = #{country}, phone = #{phone}
      WHERE userid = #{username}
    </update>
    <update id="updateSignonByAccount" parameterType="per.jxnflzc.domain.Account">
      UPDATE signon SET password = #{password} WHERE username = #{username}
    </update>
    <update id="updateProfileByAccount" parameterType="per.jxnflzc.domain.Account">
      UPDATE profile SET langpref = #{languagePreference}, favcategory = #{favouriteCategoryId}, mylistopt = #{listOption},
      banneropt = #{bannerOption} WHERE userid = #{username}</update>
</mapper>