<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.jxnflzc.persistence.CategoryDAO">
    <select id="getInventoryQuantity" resultType="int">
      select qty from inventory where itemid = #{itemId}
    </select>
    <select id="getItemListByProduct" resultType="per.jxnflzc.domain.Item">
        select
    </select>


</mapper>