<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.jxnflzc.persistence.OrderDAO">
    <resultMap type="per.jxnflzc.domain.Order" id="orderResultMap" autoMapping="true">
        <result column="userid" property="username"/>
    </resultMap>
    <select id="getOrdersByUsername" resultMap="orderResultMap">
        select * from orders where userid=#{username}
    </select>

</mapper>