<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="jpetstore">
        <environment id="jpetstore">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://120.78.141.62:3306/mypetstore?useSSL=false"/>
                <property name="username" value="jxnflzc"/>
                <property name="password" value="990806"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="per/jxnflzc/domain/AccountMapper.xml"/>
        <mapper resource="per/jxnflzc/domain/CategoryMapper.xml"/>
        <mapper resource="per/jxnflzc/domain/ItemMapper.xml"/>
    </mappers>
</configuration>